@font-face {
    font-family: 'pixeboy';
    src: url('assets/fonts/pixeboy-webfont.woff2') format('woff2'),
         url('assets/fonts/pixeboy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'arcadepixel';
    src: url('assets/fonts/arcadepixel-regular-webfont.woff2') format('woff2'),
         url('assets/fonts/arcadepixel-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

button {
    background-color: #299E7F;
    font-size: 20px;
    letter-spacing: 1px;
}


html, body {
    font-family: 'pixeboy';
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #000; /* Black background */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

p {
    font-family: 'arcadepixel';
}

#game-wrap {
    width: 100%;
    height: 100%;
    max-width: 1920px; /* Maximum width */
    max-height: 1080px; /* Maximum height */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000; /* Ensure any excess space is black */
}
canvas {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* Maintain aspect ratio */
}